/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

body { position: relative;
	height: 100vh;
}
#FEaside {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    background-color: #292b35;
    box-shadow: 0 0 20px #171717;
}
#FEaside #paginator {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    justify-content: center;
}
ul.asidemenu {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
}
.asidemenu li {
    width: 70%;
    padding: 5px 10px 5px 20px;
    background-color: #FFC107;
    margin: 3px 0;
    border-radius: 20px 0 0 20px;
    box-sizing: border-box;
    font: 15px/18px 'Red Hat Display';
    font-weight: 700;
    color: #2f323e;
    text-transform: uppercase;
    transition: all 300ms ease-in-out;
}
.asidemenu li.current {
	width: 80%;
    background-color: #E65100;
    color: #f8f8f8;
}


#FEcontainer {
	position: fixed;
    z-index: 1;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100vw - 250px);
    background-color: #2f323e;
    padding: 40px;
    box-sizing: border-box;
    color: #f8f8f8;
    font-family: 'Red Hat Display',sans serif;
}
#clock {
	position: absolute;
    z-index: 10;
    top: 30px;
    left: 0;
    width: 100%;
    text-align: center;
    color: #f8f8f8;
}
#clock h1 {
	font: 700 90px/64px 'Red Hat Display',sans serif;	
}
#clock span {
	font: 400 24px/36px 'Red Hat Display',sans serif;	
}

/* GENERICO SCHEDE */
.FEtitle {
	font: 900 36px/48px 'Red Hat Display',sans serif;
}
.FEsubtitle {
	font: 400 36px/48px 'Red Hat Display',sans serif;
}


/* SCHEDA PRESENZE */
#presenze .Presenze {
    margin: 40px auto;
    width: 100%;
}
#presenze .Presenze-sviluppatore {
    margin: 0 auto;
    padding: 15px 35px 15px 15px;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    font-size: 20px;
    line-height: 30px;
    justify-content: space-between;
    background: #ffffff00;
    box-sizing: border-box;
    border-radius: 7px;
}
#presenze .Presenze-sviluppatore:nth-child(odd) {
    background: #ffffff11;
}
#presenze .Presenze-name {
	font-weight: 900
}
#presenze .Presenze-status:after {
	content: '';
    background: #8BC34A;
    width: 20px;
    height: 20px;
    display: inline-block;
    position: relative;
    top: 6px;
    left: 15px;
    border-radius: 50%;
    border: 3px solid #DCEDC8;
}
#presenze .Presenze-status.Presenze-assente:after {
	background: #F44336;
	border: 3px solid #FFCDD2;
}

/* SCHEDA MENSA */
#mensa .Mensa {
    margin: 40px auto;
    width: 100%;
}
#mensa .Mensa > li {
	display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
#mensa .Mensa-portata {
    margin: 3px 0;
    padding: 15px 15px 15px 15px;
    width: 33%;
    display: flex;
    flex-flow: row nowrap;
    font-size: 20px;
    justify-content: space-between;
    background: #ffffff11;
    box-sizing: border-box;
    border-radius: 7px;
}
#mensa .Mensa-name {
	font-weight: 900
}
#mensa .Mensa-foto img {
    max-height: 100px;
    float: left;
    border-radius: 7px;
}

#jira .Jira {
    margin-top: 20px;
}
#jira .Jira-issue {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    background: #ffffff00;
    box-sizing: border-box;
    border-radius: 3px;
    margin: 0;
    padding: 5px 15px 5px 15px;
}
#jira .Jira-issue:nth-child(odd) {
    background: #ffffff11;
}
#jira .Jira-issue-priority {
    flex: 0 0 26px;
    padding-right: 10px;
}
#jira .Jira-issue-key {
    flex: 0 0 150px;
    font-weight: 700;
}